.Dropdown {
  z-index: 23;
  background-color: white;
  border: 1px;
  border-radius: 5%;
  box-shadow: 1px 1px 10px;
  width: 22vw;
  height: 45vh;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentImage {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.dopdownEntries {
  margin: 30px;
  text-align: center;
  justify-content: center;
}
.currentUser {
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
.currentUser p {
  margin: 5px;
}
.signOffButton {
  background: #d55151;
  color: aliceblue;
  margin: 10px;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20%;
}
.otherUserImage {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.otherUser {
  width: 13vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  justify-content: center;
}

.otherUserHolder {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.dopdownEntries .textValues {
  margin: 0px !important;
  width: 100%;
  text-align: center;
}
